allosaurus==1.0.2
altgraph==0.17.4
anytree==2.12.0
appdirs==1.4.4
audioread==3.0.1
blinker==1.7.0
boto3==1.28.79
botocore==1.31.79
cachetools==5.3.2
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
editdistance==0.6.2
ffmpeg==1.4
filelock==3.13.1
Flask==3.0.0
Flask-Cors==4.0.0
fsspec==2023.10.0
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.2
jmespath==1.0.1
llvmlite==0.41.1
MarkupSafe==2.1.3
mpmath==1.3.0
munkres==1.1.4
networkx==3.2.1
numba==0.58.1
packaging==23.2
panphon==0.20.0
pefile==2023.2.7
py2exe==0.13.0.1
pycparser==2.21
pydub==0.25.1
pyinstaller==6.1.0
pyinstaller-hooks-contrib==2023.10
PySide2==5.15.2.1
python-dateutil==2.8.2
python-magic==0.4.27
python-magic-bin==0.4.14
pywin32-ctypes==0.2.2
PyYAML==6.0.1
regex==2023.10.3
requests==2.31.0
resampy==0.4.2
s3transfer==0.7.0
scipy==1.11.3
shiboken2==5.15.2.1
six==1.16.0
sounddevice==0.4.6
SpeechRecognition==3.10.0
sympy==1.12
torch==2.1.0
typing_extensions==4.8.0
unicodecsv==0.14.1
urllib3==2.0.7
Werkzeug==3.0.1
